:root {
  --color-primary: 37 99 235;
  --color-primary-dark: 29 78 216;
  --color-primary-soft: 96 165 250;
  --color-primary-light: 219 234 254;

  --color-brand-dark: 15 23 42;
  --color-brand-surface: 255 255 255;
  --color-brand-background: 248 250 252;
}