<app-navbar
 brand="Bosque Andino"
 ctaLabel="Reserva Ahora"
 ctaUrl="#contacto">
</app-navbar>


<app-cabins-hero></app-cabins-hero>

<app-cabins-section></app-cabins-section>

<app-services-section></app-services-section>

<app-gallery-section></app-gallery-section>

<app-about-section></app-about-section>

<app-contact-section></app-contact-section>

<app-footer
brand="Bosque Andino"
 description="Cabañas acogedoras rodeadas de naturaleza en Pucón."
 phone="+56 9 1234 5678"
 email="reservas@bosqueandino.cl"
 whatsappUrl="https://wa.me/56912345678">
</app-footer>
